/* ===== 1 - HEADER BANNER ===== */

/*
Daftar Isi:
1 - Home
2 - News
3 - About Us
4 - Contact Us & Dojo Lists
5 - Voice from Shinbucho
6 - Sponsors

Per daftar isi, terdapat 2 bagian:
== 1 - Banner for PC / Screen View    ==
== 2 - Banner for Mobile View (600px) ==
*/

/* ===================================== */
/* == 1 - Banner for PC / Screen View == */
/* ===================================== */

/* 1_Home Carousel Banner */
.banner_home_shidokanTeam {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/homeCarouselBanner/1_banner_shidokan_team.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutMobile/homeCarouselBanner/1_banner_shidokan_team.jpg') center / contain no-repeat;
}

/* 2_News */
.banner_beritaMain {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.1_Banner_News.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.1_Banner_News.jpg') center / contain no-repeat;
}
.banner_beritaInternasional {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.1.1_Banner_News_Internasional.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.1.1_Banner_News_Internasional.jpg') center / contain no-repeat;
}
.banner_beritaNasional {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.1.2_Banner_News_National.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.1.2_Banner_News_National.jpg') center / contain no-repeat;
}

/* 3_about-us */
.banner_aboutUs {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.2_Banner_About_Us.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.2_Banner_About_Us.jpg') center / contain no-repeat;
}
.banner_sejarah {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/2.1_Sejarah_dan_Organisasi.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/2.1_Sejarah_dan_Organisasi.jpg') center / contain no-repeat;
}
.banner_profil {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.2.2_Banner_Profile.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.2.2_Banner_Profile.jpg') center / contain no-repeat;
}
.banner_blackbelts {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/2.1_Blackbelts.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/2.1_Blackbelts.jpg') center / contain no-repeat;
}

/* 4_contact-us & Dojo List */
.banner_contactUs {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.3._Banner_ContactsAndDojoList.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.3._Banner_ContactsAndDojoList.jpg') center / contain no-repeat;
}

/* 5_voice-from-shinbucho */
.banner_voiceFromShibucho {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.4._Banner_VoiceFromShinbucho.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.4._Banner_VoiceFromShinbucho.jpg') center / contain no-repeat;
}
.banner_tataTertibDojo {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/2.4_TataTertibDojo.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/2.4_TataTertibDojo.jpg') center / contain no-repeat;
}
.banner_joinUs {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.4.2._Banner_JoinUs.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.4.2._Banner_JoinUs.jpg') center / contain no-repeat;
}
.banner_formPengisian {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.4.2.1._Banner_FormPengisianInstruktur.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.4.2.1._Banner_FormPengisianInstruktur.jpg') center / contain no-repeat;
}

/* 6_Sponsors */
.banner_sponsors {
    background:
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.5._Banner_OurSponsors.jpg') center / cover,
        url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.5._Banner_OurSponsors.jpg') center / contain no-repeat;
}
.banner_ourPartner {
    background-image: url('../1_main_page/img/1-banner/Banner_layoutDesktop/2.5_OurPartner.jpg');
}
.banner_merchandise {
    background-image: url('../1_main_page/img/1-banner/Banner_layoutDesktop/1.5.1._Banner_OurPartner.jpg');
}

/* ======================================== */
/* == 2 - Banner for Mobile View (600px) == */
/* ======================================== */
@media screen and (max-width: 600px) {
    /* 2_News */
    .banner_beritaMain {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.1_Banner_News.jpg'); /* Mobile-specific image */
    }
    .banner_beritaInternasional {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.1.1_Banner_News_Internasional.jpg'); /* Mobile-specific image */
    }
    .banner_beritaNasional {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.1.2_Banner_News_National.jpg'); /* Mobile-specific image */
    }

    /* 3_about-us */
    .banner_aboutUs {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.2_Banner_About_Us.jpg'); /* Mobile-specific image */
    }
    .banner_sejarah {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/2.1_Sejarah_dan_Organisasi.jpg');
    }
    .banner_profil {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.2.2_Banner_Profile.jpg');
    }
    .banner_blackbelts {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/2.1_Blackbelts.jpg');
    }

    /* 4_contact-us */
    .banner_contactUs {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.3._Banner_ContactsAndDojoList.jpg');
    }

    /* 5_voice-from-shibucho */
    .banner_voiceFromShibucho {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.4._Banner_VoiceFromShinbucho.jpg');
    }
    .banner_tataTertibDojo {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/2.4_TataTertibDojo.jpg');
    }
    .banner_joinUs {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.4.2._Banner_JoinUs.jpg');
    }
    .banner_formPengisian {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.4.2.1._Banner_FormPengisianInstruktur.jpg');
    }

    /* 6_Sponsors */
    .banner_sponsors {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.5._Banner_OurSponsors.jpg');
    }
    .banner_ourPartner {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/2.5_OurPartner.jpg');
    }
    .banner_merchandise {
        background-image: url('../1_main_page/img/1-banner/Banner_layoutMobile/1.5.1._Banner_OurPartner.jpg');
    }
}

/* ===== 2 - DOJO SUB-BANNER ===== */
/* Menampilkan foto - Foto per dojo */
.foto-dojoAmpel1 {
    background:
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel1_landscape.jpg') center / cover,
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel1_landscape.jpg') center / contain no-repeat;
} .foto-dojoAmpel2 {
    background:
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel2_landscape.jpg') center / cover,
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel2_landscape.jpg') center / contain no-repeat;
} .foto-dojoAmpel3 {
    background:
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel3_landscape.jpg') center / cover,
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel3_landscape.jpg') center / contain no-repeat;
} .foto-dojoAmpel4 {
    background:
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel4_landscape.jpg') center / cover,
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel4_landscape.jpg') center / contain no-repeat;
} .foto-dojoAmpel5 {
    background:
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel5_landscape.jpg') center / cover,
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel5_landscape.jpg') center / contain no-repeat;
} .foto-dojoAmpel6 {
    background:
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel6_landscape.jpg') center / cover,
        url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel6_landscape.jpg') center / contain no-repeat;
}

/* Banner for Mobile View */
@media screen and (max-width: 768px) {
    .foto-dojoAmpel1 {
        background-image: url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel1_portrait.jpg');
    } .foto-dojoAmpel2 {
        background-image: url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel2_portrait.jpg');
    } .foto-dojoAmpel3 {
        background-image: url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel3_portrait.jpg');
    } .foto-dojoAmpel4 {
        background-image: url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel4_portrait.jpg');
    } .foto-dojoAmpel5 {
        background-image: url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel5_portrait.jpg');
    } .foto-dojoAmpel6 {
        background-image: url('../1_main_page/img/8-carousel-dojo/1-wzki-ampel/dojoAmpel6_portrait.jpg');
    }
}
