* {
    margin: 0;
    padding: 0;
}
section {
    position: relative;
    width: 100vw;
    height: 160px;
    margin: 0 calc(-50vw + 50%);
    background: #ff0000;
    /* Making it to the middle of the content */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column; /* Ensures waves are stacked vertically */
}
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../1_main_page/img/7-sprites/3-sprite-animation/wave.png);
    background-size: 200% 100%;
}
section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 10;
    opacity: 1;
    animation-delay: -4s;
    bottom: 0;
}
section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 9;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3 {
    animation: animate2 30s linear infinite;
    z-index: 8;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 20px;
}
section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 7;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 30px;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    } 100% {
        background-position-x: 200%;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    } 100% {
        background-position-x: -200%;
    }
}

.paragraph-profil {
    position: relative;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 5%;
    margin-top: -6%;
    margin-bottom: 7%;
    z-index: 11;
}

/* Shape Simulation */
.circle-shape {
    position: absolute; /* Position the circle relative to .paragraph-profil */
    bottom: -80px; /* Adjust spacing from the bottom edge */
    right: 123px; /* Adjust spacing from the right edge */
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    /*display: inline-block;*/
}